*.egg-info
*.png
*.rds
*.csv

data
llm-malaria.code-workspace

.DS_Store
.RData
.Rhistory
.here
.vscode/
results/processed/
scripts/slurm
scripts/.RData
scripts/.Rhistory
scripts/Shrock2020_regression.nb.html
scripts/Untitled.nb.html


.Rproj.user
